/* here you can put your own css to customize and override the theme */
/*
	4d90fe
	0044B0
	88B4FC
*/
.page-sidebar-menu{
	background-color:#88B4FC;
	
}
.colcon{  
border-radius: 5px; box-shadow: 0 1px 1px #beaf85;
}
/*btn order*/
.btn.order-stripe {
	border-left: 3px solid #428bca;
}/*order*/
.btn.order {
  color: white;  
  text-shadow: none;	
  background-color: #285FC7;
}
.btn.order:hover, 
.btn.order:focus, 
.btn.order:active,
.btn.order.active,
.btn.order[disabled],
.btn.order.disabled {  
  background-color: #0044B0 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.order.dropdown-toggle {
  background-color: #285FC7 !important;
}
.btn-group .btn.order:hover, 
.btn-group .btn.order:focus, 
.btn-group .btn.order:active, 
.btn-group .btn.order.active, 
.btn-group .btn.order.disabled,
.btn-group .btn.order[disabled] { 
  background-color: #0044B0 !important;
  color: #fff !important;
  outline: none !important;
}
/*image hot pick*/
.hotpick img{
	max-height:250px;
	width:100%;
}
/* badge */
.badge.green{background-color: #9cd159;}
.badge.orange{background-color: #fa7753;}

/*	QUESTION AND ANSWER*/
.question {color:red;}
/*TABLE*/

.history table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
.history th,td
{
padding:5px;
}
div.errorMessage {
color: red;
font-weight: bold;
}
div.successMessage {
color: green;
font-weight: bold;
}

@media (max-width: 480px)
.login .logo img{
max-width: 100%;
height: auto;
}
.login .logo {
margin: 0 auto;
margin-top: 0px !important;
padding: 15px;
text-align: center;
}
.login .content {
background-color: whitesmoke !important;
}
.login .content .form-actions{
background-color: whitesmoke !important;
}